In [1]:
import pandas as pd
import numpy as np

The file `gapminder_with_missing.tsv` contains missing values indicated by `-1`

In [2]:
data = pd.read_csv('data/gapminder_with_missing.tsv', sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083   -1.000000
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Calculate the average `lifeExp`, `pop`, and `gdpPercap`

In [4]:
data['lifeExp'].mean()

55.81203833333336

In [5]:
data['pop'].mean()

27992515.794014085

In [6]:
data['gdpPercap'].mean()

6833.852739445185

The values you calculated are not accurate because `-1` was included in the calculation. However, `-1` is used in the file to indicate the entry is missing. Let us deal with that.

Replace all `-1` with `NaN` *HINT* uses the function replace, i.e., `data.replace(...)`

In [7]:
data = data.replace(-1, np.nan)

What are the rows that contain missing values?

In [21]:
data.isnull()

      country  continent   year  lifeExp    pop  gdpPercap
0       False      False  False    False  False      False
1       False      False  False    False  False      False
2       False      False  False    False  False       True
3       False      False  False    False  False      False
4       False      False  False    False  False      False
...       ...        ...    ...      ...    ...        ...
1699    False      False  False    False  False      False
1700    False      False  False    False  False      False
1701    False      False  False    False  False      False
1702    False      False  False    False  False      False
1703    False      False  False    False  False      False

[1704 rows x 6 columns]

In [23]:
data.isnull().any(axis=1)

0       False
1       False
2        True
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Length: 1704, dtype: bool

In [24]:
data[data.isnull().any(axis=1)]

                 country continent  year  lifeExp         pop    gdpPercap
2            Afghanistan      Asia  1962   31.997  10267083.0          NaN
7            Afghanistan      Asia  1987      NaN  13867957.0   852.395945
29               Algeria    Africa  1977   58.014         NaN  4910.416756
32               Algeria    Africa  1992      NaN  26298373.0  5023.216647
39                Angola    Africa  1967   35.985         NaN  5522.776375
...                  ...       ...   ...      ...         ...          ...
1666  West Bank and Gaza      Asia  2002      NaN   3389578.0  4515.487575
1673         Yemen, Rep.      Asia  1977   44.175         NaN  1829.765177
1677         Yemen, Rep.      Asia  1997   58.020         NaN  2117.484526
1689              Zambia    Africa  1997      NaN   9417789.0          NaN
1691              Zambia    Africa  2007      NaN  11746035.0  1271.211593

[279 rows x 6 columns]

What are the cols that contain missing values?

In [20]:
data.isnull().any()

country      False
continent    False
year         False
lifeExp       True
pop           True
gdpPercap     True
dtype: bool

Calculate the average `lifeExp`, `pop`, and `gdpPercap` again

In [14]:
data['lifeExp'].mean()

59.391586600124796

In [15]:
data['pop'].mean()

29774810.870786518

In [16]:
data['gdpPercap'].mean()

7201.590641938526