In [47]:
import pandas as pd
import numpy as np

The file `gapminder_with_corrupt.tsv` contains the same gapminder data but some numerical entries are corrupt

In [48]:
data = pd.read_csv('data/gapminder_with_corrupt.tsv', sep='\t')

In [49]:
data.head()

       country continent  year lifeExp       pop      gdpPercap
0  Afghanistan      Asia  1952  28.801   8425333    779.4453145
1  Afghanistan      Asia  1957  30.332   9240934  820.8530296nn
2  Afghanistan      Asia  1962  31.997  10267083      853.10071
3  Afghanistan      Asia  1967   34.02  11537966    836.1971382
4  Afghanistan      Asia  1972  36.088  13079460    739.9811058

Calculate the average `lifeExp`, `pop`, and `gdpPercap`

You will need to detect the corrupt values and exclude them from the calculation

*HINT* replace the corrupt values with NaN

In [5]:
data.dtypes

country      object
continent    object
year          int64
lifeExp      object
pop          object
gdpPercap    object
dtype: object

In [6]:
data.iloc[1,-1]=np.nan

In [7]:
data.head()

       country continent  year lifeExp       pop    gdpPercap
0  Afghanistan      Asia  1952  28.801   8425333  779.4453145
1  Afghanistan      Asia  1957  30.332   9240934          NaN
2  Afghanistan      Asia  1962  31.997  10267083    853.10071
3  Afghanistan      Asia  1967   34.02  11537966  836.1971382
4  Afghanistan      Asia  1972  36.088  13079460  739.9811058

In [11]:
data.iloc[0,-2].isdigit()

True

In [15]:
def is_number(n):
    for c in n:
        if c not in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.']:
            return False
    return True #

In [16]:
def convert_to_number(n):
    if is_number(n):
        return float(n)
    else:
        return np.nan

In [36]:
data['lifeExp']=data['lifeExp'].apply(convert_to_number)

In [37]:
data['pop']=data['pop'].apply(convert_to_number)

In [38]:
data['gdpPercap']=data['gdpPercap'].apply(convert_to_number)

In [39]:
data.head()

       country continent  year  lifeExp         pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333.0  779.445314
1  Afghanistan      Asia  1957   30.332   9240934.0         NaN
2  Afghanistan      Asia  1962   31.997  10267083.0  853.100710
3  Afghanistan      Asia  1967   34.020  11537966.0  836.197138
4  Afghanistan      Asia  1972   36.088  13079460.0  739.981106

In [42]:
data.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop          float64
gdpPercap    float64
dtype: object

In [41]:
data['lifeExp'].mean()

59.443401121049476

In [43]:
data['pop'].mean()

29361346.398798797

In [44]:
data['gdpPercap'].mean()

7186.243429043534

In [46]:
sum(data['gdpPercap'].dropna()) / len(data['gdpPercap'].dropna())

7186.243429043534

In [ ]:
#another way to do it

In [56]:
data['lifeExp'] = pd.to_numeric(data['lifeExp'], errors='coerce')
data['pop'] = pd.to_numeric(data['pop'], errors='coerce')
data['gdpPercap'] = pd.to_numeric(data['gdpPercap'], errors='coerce')

In [57]:
data['lifeExp'].mean()

59.443401121049476

In [58]:
data['pop'].mean()

29361346.398798797

In [59]:
data['gdpPercap'].mean()

7186.243429043534